*{
    margin: 0;
    padding: 0;
    
}
 body{
    background-image: url("https://t4.ftcdn.net/jpg/02/15/94/83/360_F_215948377_kgIhNUy4X0iYsyUfYd9KKIViSPOxclbC.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    padding-top: 25px;
    justify-content: center;
    
 }
 #neptune{
   position: relative;
    height: 600px;
    width: 600px;
    border: 3px solid white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    animation-name: rotate;
    animation-duration: 5s;
   animation-iteration-count: infinite;
   animation-timing-function: linear;

 }
 #neptune-pic{
   width: 50px;
    position: absolute;
    top: 40px;
    left: 90px;
    animation-name: rotate;
    animation-duration: 5s;
    animation-iteration-count:infinite;
    animation-timing-function: linear;
 }
 #uranus{
   position: relative;
    height: 530px;
    width: 530px;
    border: 3px solid white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    
 }
 #uranus-pic{
   width: 50px;
    position: absolute;
    top: 100px;
    left: 5px;
   
 }
 #saturn{
   
    height: 450px;
    width: 450px;
    border: 3px solid white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
   
 }
 #saturn-pic{
   width: 90px;
    position:absolute;
    right: 365px;
    bottom: 50px;
 }
 #jupiter{
   height:380px;
   width: 380px;
   border-radius: 50%;
   border: 3px solid white;
   display:flex;
   align-items: center;
   justify-content: center;
 }
 #jupiter-pic{
  width: 60px;
  position:absolute;
 
 }
 #mars{
   height: 320px;
   width:320px;
   border-radius: 50%;
   border:3px solid white;
   display: flex;
   align-items:center;
   justify-content: center;

 }
 #mars-pic{
  width: 60px;
  position: absolute;
  bottom: 40px;
 }
 #earth{
  height:250px;
  width:250px;
  border-radius: 50%;
  border: 3px solid white;
  display: flex;
  align-items: center;
  justify-content: center;

 }
 #earth-pic{
  width: 60px;
  position: absolute;
  left: 320px;
 }
 #venus{
  height: 180px;
  width: 180px;
  border-radius:50% ;
  border: 3px solid white;
  display: flex;
  align-items: center;
  justify-content: center;
 }
 #venus-pic{
  width: 60px;
  position: absolute;
  top: 210px;
  left: 115px;
 }
 #murcury{
  height: 110px;
  width: 110px;
  border-radius: 50%;
  border: 3px solid white;
  display: flex;
  align-items: center;
  justify-content: center;
 }

 #murcury-pic{
  width: 40px;
  position: absolute;
  bottom: 200px;

 }
 #sun-pic{
  width: 50px;
  animation-name: sunrotate;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function:linear ;
 }
 
 @keyframes rotate{ 
  100%{
    transform: rotate(360deg);
  }
 }

 @keyframes sunrotate{
  100%{
    transform: rotate(360deg);
  }
 }
 

 